
main {
    display: flex; 
    justify-content: space-around;   
}

header {
    text-align: center;
    font-weight: bold;
    width: 100%;
    background-color: darkblue;
    color: red;
}


h3 {
    text-align: center;   
    flex-flow: row wrap;
    width: 100%;
    color: red;
}


.fishCollection {
    background-color: aquamarine;
    border: 6px solid;
    padding: 1em;
    margin: 0.5em;
  /*  flex-flow: row nowrap;   */
   /* flex-basis: 16%;   Make each child element the same width */
}


.fishcard {
    border: 1px solid;    
    background-color: seashell;
}

.fishImage {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;   
    align-items: flex-start;
    
      
}

.card {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;    
    text-align: left; 
}



.tankInfo {
    background-color: aquamarine;
    border: 6px solid;
    padding: 1em;
    margin: 0.5em;   
    align-items: flex-start;
    flex-basis: 10%;
    flex-wrap: wrap;   
    text-align: left;
}

aside {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;   
    align-items: flex-start;
    flex-basis: 10%;    
    flex-wrap: wrap;
    text-align: left; 
    background-color: seashell;   
}



.travelTips {
    background-color: aquamarine;
    border: 6px solid;
    padding: 1em;
    margin: 0.5em;   
    align-items: flex-start;
    flex-basis: 10%;    
    flex-wrap: wrap;    
    text-align: center;
}

.scubaTravelTips {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;   
    align-items: flex-start;
    flex-basis: 10%;    
    flex-wrap: wrap;   
    text-align: left;
    background-color: seashell;
}

.harvestLocations {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;   
    align-items: flex-start;
    flex-basis: 10%;    
    flex-wrap: wrap;   
    text-align: left;
    background-color: seashell;
}

