body {
   
}


header {
    text-align: center;
}



h3 {
    text-align: center;
}











.fishCollection {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex;
}


.fishcard {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    align-items: flex-start;
}

.fishImage {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex;   
}

.card {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex; 
    align-items: flex-start;   
}



.travelTips {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex;
}

.scubaTravelTips {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex;
}

.harvestLocations {
    border: 1px solid;
    padding: 1em;
    margin: 0.5em;
    display: flex;
}


.tankInfo {

}

aside {
    display: flex;
    border: 1px solid;
    justify-content: flex-end;
}
